@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
  overflow: hidden;
}

canvas {
  top: -70px;
  position: relative;
}

.box {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#pinkboard {
  position: relative;
  margin: auto;
  height: 750px;
  width: 750px;
  animation: animate 1.2s infinite;
}

#pinkboard:before,
#pinkboard:after {
  content: "";
  position: absolute;
  background: #d63031;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#pinkboard:before {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#pinkboard:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

p {
  font-family: "Caveat", cursive;
  font-size: 48px;
  font-weight: 500;
  color: white;
  margin: auto;
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgs-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  position: fixed;
  inset: 0;
}

.imgs-wrapper:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(181, 2, 115);
  z-index: 2;
  opacity: 0.8;
}

.img-wrapper {
  --size: 250;
  position: absolute;
  inset: -200%;
  margin: auto;
  background-color: red;
  height: Max(calc(var(--size) * 1vh), calc(var(--size) * 1vw));
  aspect-ratio: 1;

  overflow: hidden;
  border-radius: 50%;
}

.img-wrapper img {
  position: absolute;
  inset: -1000%;
  margin: auto;

  height: Max(150vh, 150vw);
  aspect-ratio: 1;
  object-fit: cover;
}

.img-wrapper {
  animation: rotate 15s infinite alternate-reverse;

  animation-timing-function: cubic-bezier(0.68, -0.63, 0.53, 0.4);
}
.img-wrapper:nth-child(2) {
  --size: 200;
}
.img-wrapper:nth-child(2) {
  --size: 60;
}
.img-wrapper:nth-child(3) {
  --size: 40;
}
.img-wrapper:nth-child(4) {
  --size: 20;
}

@keyframes rotate {
  95%,
  100% {
    transform: rotate(0.3turn) scale(1.6);
  }
}

@for $i from 1 through 3 {
  .img-wrapper:nth-child(#{$i}) {
    animation-delay: calc(#{$i - 1} * -300ms);
  }
}

.quote div {
  display: inline-block;
}
.quote span {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  animation: moveLetter 2000ms infinite ease-in-out;
}
.quote .empty {
  width: 1ch;
}

@keyframes moveLetter {
  50% {
    transform: translateY(30%) translateX(-50%);
  }
}

.heart {
  position: fixed;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

#slideshow {
  margin: 0 auto;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  transform: scale(0.7);
  position: absolute;
  bottom: -220px;
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}
.sub-heading-two {
  font-size: 15px;
}
.sub-heading-three {
  font-size: 13px;
}
.sub-heading-four {
  font-size: 11px;
}
.sub-heading-five {
  font-size: 9px;
}
.sub-heading-six {
  font-size: 7px;
}
.sub-heading-seven {
  font-size: 5px;
}
.sub-heading-eight {
  font-size: 3px;
}
.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.shadow img {
  object-fit: cover;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.shadow-3 img {
  object-position: 0 -150px;
}

.shadow-6 img {
  object-position: 25% 30%;
}

.shadow-7 img {
  object-position: 25% 30%;
}

@keyframes page-up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
.loading-data {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  top: 30px;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-text .char {
  opacity: 0;
  animation: loading-text 3s infinite ease-in-out;
  display: inline-block;
  color: #fff;
}
.loading-text .char:nth-child(1) {
  animation-delay: 0.9s;
}
.loading-text .char:nth-child(2) {
  animation-delay: 1s;
}
.loading-text .char:nth-child(3) {
  animation-delay: 1.1s;
}
.loading-text .char:nth-child(4) {
  animation-delay: 1.2s;
}
.loading-text .char:nth-child(5) {
  animation-delay: 1.3s;
}
.loading-text .char:nth-child(6) {
  animation-delay: 1.4s;
}
.loading-text .char:nth-child(7) {
  animation-delay: 1.5s;
}
@keyframes loading-text {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    transform: translateY(-60%);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sticker-1 {
  position: absolute;
  left: 10px;
  width: 200px;
}

.sticker-2 {
  position: absolute;
  right: 10px;
  width: 200px;
  transform: scaleX(-1) scaleY(1);
}
